<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-android-translucent-theme" version="1.0.5">
    <name>Android Translucent Theme Plugin</name>
    <description>Plugin to set Android translucent theme for Cordova applications</description>
    <license>MIT</license>
    <author>abardik</author>
    <keywords>cordova,android,background,statusbar,translucent,theme</keywords>
	
  	<platform name="android">
  		<preference name="WINDOW_BACKGROUND_COLOR" />
  		<preference name="WINDOW_PRIMARY_DARK_COLOR" />

  		<edit-config file="AndroidManifest.xml" target="/manifest/application/activity" mode="merge">
  			<!--<activity android:theme="@style/CordovaWindowBackgroundTheme" />-->
  			<activity android:theme="@style/CordovaWindowBackgroundTheme" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
  		</edit-config>

  		<source-file src="cordova-window-background-strings.xml" target-dir="res/values" />
  		<source-file src="cordova-window-background-styles.xml" target-dir="res/values" />

  		<config-file target="res/values/cordova-window-background-strings.xml" parent="/*">
  			<color name="cordova_window_background">$WINDOW_BACKGROUND_COLOR</color>
  			<color name="cordova_window_primary_dark">$WINDOW_PRIMARY_DARK_COLOR</color>
  		</config-file>

  		<config-file target="res/values/cordova-window-background-styles.xml" parent="/*">
  			<style name="CordovaWindowBackgroundTheme" parent="@android:style/Theme.NoTitleBar">
  			<!--<style name="CordovaWindowBackgroundTheme">-->
  				<!--<item name="android:windowBackground">@drawable/screen</item>-->
  				<!--<item name="android:windowBackground">@drawable/splash_screen</item>-->
  				<item name="android:windowBackground">@color/cordova_window_background</item>
				<item name="android:colorBackground">@color/cordova_window_background</item>
				<item name="android:colorPrimaryDark">#00000000</item> <!-- #33000000 for semi-transparent status bar -->
				<item name="android:windowDrawsSystemBarBackgrounds">true</item>

				<item name="android:windowTranslucentStatus">true</item>
				<!--<item name="android:statusBarColor">#00000000</item>--> <!-- #33000000 for semi-transparent status bar -->
				<item name="android:statusBarColor">@android:color/transparent</item>
				<!--<item name="android:statusBarColor">@color/cordova_window_primary_dark</item>-->

				<item name="android:windowTranslucentNavigation">false</item>
				<!--<item name="android:navigationBarColor">@android:color/transparent</item>-->
				<!--<item name="android:navigationBarColor">@color/cordova_window_primary_dark</item>-->

				<item name="android:windowFullscreen">false</item>
				
				<item name="android:windowSoftInputMode">adjustPan|adjustNothing</item>
				<item name="android:fitsSystemWindows">true</item>
  			</style>
  		</config-file>
  	</platform>
</plugin>
